.AboutContent{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    

    h1{
        position: absolute;
        top: 75px;
        z-index: 22;
    }

    img{
        height: 200px;
    }

    p{
        width: 80%;
        text-align: center;
        max-width: 800px;
    }

    a{
        font-family: 'Bungee Shade';
        font-size: 30px;
        position: relative;
        z-index: 21;
    }
}

@media (max-width: 500px){
    .AboutContent{
        img{
            // height: 100px;
            position: absolute;
            top: 100px;
        }

        p{
            position: relative;
            z-index: 22;
        }
    }
}